.container {
  max-width: 50rem;
  padding: 0 1rem;
  margin: 3rem auto;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.backToHome {
  margin: 3rem 0 0;
}

.row {
  display: grid;
  grid-template-columns: 200px 70px 70px 70px 70px 70px 70px 70px 70px 70px 70px;
}

.gridContainer {
  /* グリッドコンテナ */
  display: grid;
  column-gap: 10px;
  row-gap: 10px;
}

.column {
  height: 70px;
}

.working {
  background-color: red;
}

.notWorking {
  background-color: gray;
}